body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  background: linear-gradient(135deg, #ffc3d9, #fad0c4);
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #b0004b;
  margin-bottom: 250px;
  font-size: 4rem;
}

.buttons {
  position: relative;
}

button {
  font-size: 20px;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.yes {
  background-color: #ff4d6d;
  color: white;
  animation: float 4s ease-in-out infinite;
}

.no {
  background-color: #ccc;
  transition: transform 0.3s;
  animation: float 4s ease-in-out infinite;
}

.celebrate {
  font-size: 42px;
  color: #ee1e52f4;
  animation: pulseGlow 1.5s ease-in-out infinite;
}

@keyframes pulseGlow {
  0% {
    text-shadow:
      0 0 10px rgba(255, 77, 109, 0.4),
      0 0 25px rgba(255, 77, 109, 0.6),
      0 0 50px rgba(255, 77, 109, 0.4);
  }
  50% {
    text-shadow:
      0 0 20px rgba(255, 179, 198, 0.8),
      0 0 40px rgba(255, 77, 109, 1),
      0 0 80px rgba(255, 77, 109, 0.8);
  }
  100% {
    text-shadow:
      0 0 10px rgba(255, 77, 109, 0.4),
      0 0 25px rgba(249, 55, 91, 0.916),
      0 0 50px rgba(241, 33, 71, 0.921);
  }
}

.pulse-light {
  color: #ee1e52f4;
  animation: pulseGlow 1.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.photo-rain {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.falling-photo {
  position: absolute;
   width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;

  /* start above the screen */
  transform: translateY(-120vh);

  animation: fall 1.5s ease-out forwards;
  z-index: 1;
}

@keyframes fall {
  to {
    transform: translateY(0) rotate(360deg);
  }
}

.sparkly {
  position: absolute;
  display: inline-block;
}

.sparkly::after {
  content: "💖";
  position: absolute;
  inset: -18px;
  border-radius: 16px;
  box-shadow:
    0 0 12px rgba(255,182,193,0.9),
    0 0 24px rgba(255,105,180,0.7);
  opacity: 0.6;
  animation: sparklePulse 2.5s ease-in-out infinite;
  pointer-events: none;
   z-index: 2;
}

@keyframes sparklePulse {
  0%   { opacity: 0.1; transform: scale(0.97); }
  50%  { opacity: 1;   transform: scale(1.03); }
  100% { opacity: 0.1; transform: scale(0.97); }
}